Repository dftd4/dftd4, pull requests merged in 2021-05, with the labels that each got.

#97 Allow to add DFTD4 to other ASE calculators
  fpm.toml
  meson.build
  python/README.rst
  python/dftd4/__init__.py
  python/dftd4/ase.py
  python/dftd4/libdftd4.py
  python/dftd4/test_ase.py
  python/meson.build
  python/setup.cfg
  src/dftd4/version.f90
Labels: Python

#99 Use np.ascontiguousarray instead of np.array
  python/dftd4/interface.py
Labels: Python, bug

#103 Increase required meson version in documentation
  README.md
  meson.build
  python/README.rst
  python/meson.build
Labels: build, documentation

#104 Fix markdown and relative links on github.io page
  README.md
Labels: documentation
